<!doctype html>
<html>
    <head>
        <title>Some Website | Home</title>
        <meta charset="utf-8">
    </head>    
    <body>
        {{> header}}
        <p>{{screamIt greeting}}</p>
        {{> footer}}
    </body>
</html>